{% extends "assistant_app/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}Courses{% endblock %}

{% block content %}
  <div class="container mt-4">
    <!-- Row for buttons -->
    <div class="row mb-3">
      <!-- Add Course button -->
      <div class="col-md-4 text-start">
        <a href="{% url 'assistant_app:add_course' %}" class="btn btn-secondary">Add Course</a>
      </div>
      <!-- Grades and Assignments buttons -->
      <div class="col-md-4 text-center">
        <a href="{% url 'assistant_app:all_grades' %}" class="btn btn-light custom-outline me-4">View All Grades</a>
        <a href="{% url 'assistant_app:all_assignments' %}" class="btn btn-light custom-outline">View All Assignments</a>
      </div>
      <!-- empty for layout balance -->
      <div class="col-md-4"></div>
    </div>

    <!-- Row for cards -->
    <div class="row">
      {% if courses %}
        {% for course in courses %}
          <div class="col-md-12 mb-3">
            <div class="card shadow">
              <div class="card-header bg-primary text-white">
                <h5 class="mb-0">{{ course.course_name }}</h5>
              </div>
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <p class="card-text">Details about {{ course.course_name }}</p>
                    <p class="card-text">Due Assignments: {{ course.due_assignments }}</p>
                    <p class="card-text"><small class="text-muted">Average Grade:
                      {% if course.average_grade %} {{course.average_grade|floatformat:2}}% {% else %} 0.00% {% endif %}</small>
                    </p>
                  </div>
                  <div class="col-md-6 text-end">
                    <a href="{% url 'assistant_app:grades_for_course' course.course_slug %}" class="btn btn-info btn-sm">View Grades</a>
                    <a href="{% url 'assistant_app:assignments_for_course' course.course_slug %}" class="btn btn-info btn-sm">View Assignments</a>
                    <a href="{% url 'assistant_app:edit_course' course.course_slug %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'assistant_app:delete_course' course.course_slug %}" class="btn btn-danger btn-sm">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-12">
          <p class="text-muted">No courses available.</p>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
