{% extends "assistant_app/base.html" %}
{% load static %}

{% block title %}Add Assignment{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{% if course %}Add Assignment for {{ course.course_name }}{% else %}Add a New Assignment{% endif %}</h2>

    <form method="post">
        {% csrf_token %}
        
        {% if not course %}
        <div class="mb-3">
            {{ form.course.label_tag }}
            {{ form.course }}
        </div>
        {% endif %}

        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="mb-3">
            {{ form.graded.label_tag }}
            {{ form.graded }}
        </div>
        <div class="mb-3">
            {{ form.grade.label_tag }}
            {{ form.grade }}
        </div>
        <div class="mb-3">
            {{ form.deadline.label_tag }}
            {{ form.deadline }}
        </div>
        <div class="mb-3">
            {{ form.note.label_tag }}
            {{ form.note }}
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-auto">
                <button type="submit" class="btn btn-primary">Save Assignment</button>
            </div>  
            <div class="col-md-auto">
                {% if course %}
                    <a href="{% url 'assistant_app:assignments_for_course' course.course_slug %}" class="btn btn-secondary">Back to Course</a>
                {% else %}
                    <a href="{% url 'assistant_app:all_assignments' %}" class="btn btn-secondary">Back to Assignments</a>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
